html {
    background-color: whitesmoke;
}

body {
    margin: 0;
}

#top-menu {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
}

#top-menu h1 {
    margin-top: 0;
    padding: 10px;
}

h2, h3, p {
    padding: 10px;
}
