html {
    background-color: whitesmoke;
}

body {
    margin: 15px;

}

body h1 {
    margin: 0;
    padding-bottom: 15px;
}

body h2 {
    padding-bottom: 15px;
}

body hr {
    padding-bottom: 1;
}

img {
    border: solid 1px;
    border-radius: 10px;
    width: 550px;
    height: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
    padding-right: 15px;
}