html {
    background-color: whitesmoke;
}

body {
    margin: 0;
}

img {
    border: solid 1px;
    border-radius: 10px;
    width: 550px;
    height: 500px;
    margin-bottom: 20px;
    margin-left: 15px;
}

#top-menu {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
}

#top-menu h1 {
    margin-top: 0;
    padding: 10px;
}

h1, h2, h3 {
    padding: 10px;
}

footer {
  padding: 5px;
  background-color: darkgrey;
  color: black;
}

footer p {
    text-align: center;
}